body {
    color: #333;
    background-color: antiquewhite;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
}

body a {
    text-decoration: none;
    color: #444;
}

.error-banner {
    font-size: 32px;
    text-align: center;
}

.error-description {
    font-size: 24px;
    text-align: center;
    margin: 16px 0;
}

.error-gif {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 32px 0;
}

.splash {
    margin: 50px 0;
    text-align: center;
}

.splash .title {
    font-size: 80px;
    padding: 36px 0;
}

.splash .sub-title,
.no-clubs {
    font-size: 18px;
}

.club-buttons {
    text-align: center;
}

.splash .auth-buttons,
.club-buttons {
    padding: 35px 0;
}

.splash .auth-buttons span,
.club-buttons span {
    background-color: #060;
    padding: 10px;
    margin: 0 5px;
    border-radius: 10px;
}

.splash .auth-buttons a,
.club-buttons a {
    color: white;
    font-size: 24px;
}

header {
    max-width: 80%;
    margin: 0 auto;
    padding: 25px 0;
    border-bottom: 1px solid #444;
}

header .title {
    font-size: 34px;
}

.signup-form {
    margin: 0 auto;
    padding-top: 75px;
    text-align: center;
}

.signup-greeting {
    text-align: center;
    font-size: 24px;
}

.signup-form form {
    margin: 40px 0;
}

.signup-form input {
    font-size: 16px;
    width: 90%;
    max-width: 400px;
}

.invalid-input {
    color: #F44;
}

.invalid-input ul {
    list-style-type: none;
}

.login-form {
    margin: 0 auto;
    padding-top: 75px;
    text-align: center;
}

.login-greeting {
    text-align: center;
    font-size: 24px;
}

.login-form form {
    margin: 40px 0;
}

.login-form input {
    font-size: 16px;
    width: 90%;
    max-width: 400px;
}

.nav-main {
    font-size: 20px;
    padding: 16px 0;
    display: flex;
    text-align: center;
    max-width: 60%;
    margin: 0 auto;
}

.nav-main a {
    flex: auto;
    padding: 16px 0;
}

.nav-main a:hover {
    background-color: rgba(0, 0, 0, 0.1);
}

.nav-main a:active {
    background-color: rgba(0, 0, 0, 0.15);
}

.main-content {
    max-width: 750px;
    width: 100%;
    margin: 26px auto 0 auto;
}

.no-clubs {
    text-align: center;
}

.club-grid {
    display: grid;
    gap: 16px;
    grid-auto-columns: auto;
}

.club-list-title,
.club-create-title {
    font-size: 24px;
    padding-bottom: 36px;
    text-align: center;
}

.club {
    font-size: 18px;
    border-top: 1px solid #DDD;
    border-left: 1px solid #DDD;
    border-right: 1px solid #444;
    border-bottom: 1px solid #444;
    padding: 16px 0;
    display: flex;
}

.club .club-icon img {
    padding: 0 16px;
    max-height: 100px;
    max-width: 100px;
}

.club .club-metadata {
    padding: 0 16px;
}

.club-metadata .club-name,
.club-metadata .club-description {
    max-width: 500px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.club .club-name {
    font-size: 24px;
}

.club-role {
    margin-top:16px;
}

.profile-content {
    display: flex;
    font-size: 18px;
}

.profile-img {
    margin-right: 32px;
}

.profile-img img {
    width: 100px;
}

.profile-data {
    flex: auto;
    display: grid;
    grid-template-columns: auto auto;
}

.profile-data span {
    padding: 10px 0;
}

.club-create-content form {
    display: grid;
    gap: 16px;
}

.club-create-content form input,
.club-create-content form textarea,
.club-edit-content .club-edit-form input,
.club-edit-content .club-edit-form textarea {
    resize: none;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 16px;
    color: #444;
    padding: 5px;
}

.club-create-content button,
.club-edit-form-buttons button {
    width: 90%;
    max-width: 200px;
    margin: 0 auto;
    font-size: 16px;
}

.club-create-form-buttons,
.club-edit-form-buttons {
    display: flex;
    width: 90%;
    max-width: 500px;
    margin: 0 auto;
}

.club-create-form-buttons button {
    flex: auto;
}

/* 
    Styling for the main club home page
 */
.club-home {
    display: flex;
    max-width: 1000px;
}


/* 
    Styles for the club metadata column on the left
 */
.club-home .club-meta-col {
    flex: 1;
    border-right: 1px solid #444;
    margin-right: 25px;
    padding: 5px;
}

/* 
    Gives sections a visible divider and some spacing
 */
.club-home .club-meta-sec {
    padding: 15px 5px;
    border-top: 1px solid #444;
}

.club-home .club-icon {
    margin: auto;
    max-width: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.club-home .club-icon img {
    max-width: 200px;
}

.club-home .club-title {
    padding: 10px 0;
    font-size: 24px;
    text-align: center;
}

/* 
    Sub-titles within a club meta-section
 */
.club-home .club-meta-sec-title {
    font-size: 18px;
}

.club-home .club-desc {
    text-align: center;
}

.club-home .club-meta-col .club-admins ul {
    list-style: none;
}

.club-home .club-meta-col .club-admins ul li {
    margin: 5px 0;
}

/* 
    Container around the button links, allowing them to flex vertically
*/
.club-home .club-meta-col .admin-tools .buttons {
    display: flex;
    flex-direction: column;
    margin-top: 15px;
}

/* 
    Container around the buttons within the links, allowing the divs
    to stretch horizontally 
*/
.club-home .club-meta-col .admin-tools .buttons .button-link {
    display: flex;
    align-items: center;
    justify-content: center;
}

.club-home .club-meta-col .admin-tools .button {
    background-color: #060;
    padding: 10px;
    margin: 2px 0;
    border-radius: 10px;
    color: white;
}

/* 
    Styling for the main club timeline
 */
.club-home .club-timeline {
    flex: 3;
}

.club-home .club-timeline .timeline-heading {
    font-size: 30px;
    text-align: center;
    margin-bottom: 20px;
}

/* 
    Styling for a club meeting tile in the timeline 
*/
.club-home .club-meeting {
    display: flex;
    border: 1px solid #444;
    padding: 15px;
    margin-bottom: 20px;
}

.club-home .book-icon {
    flex: 1;
}

.club-home .book-icon img {
    max-width: 100px;
}

.club-home .book-meta {
    flex: 3;
}

.club-home .meeting-date {
    flex: 1;
    font-size: 18px;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
}

.club-home .book-meta .book-title {
    font-size: 18px;
}

/*
    Flex container for the club edit page
*/
.club-edit-content {
    display: flex;
}

.club-edit-content .club-img {
    flex: 1;
}

.club-edit-content .club-data {
    flex: 3;
}

.club-edit-content .club-data .club-edit-field {
    display: flex;
    margin: 15px 0;
}

.club-edit-content .club-data .club-edit-field label {
    flex: 1;
}

.club-edit-content .club-data .club-edit-field input {
    flex: 3;
}

.club-edit-content .club-data .club-edit-field textarea {
    flex: 3;
    height: 200px;
}