<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
    <title>Page Flipper - Login</title>
</head>
<body>
    {{>header}}
    <div class="login-form">
        <span class="login-greeting">Log in to Page Flipper</span>
        <form action="/login" method="POST">
            <p>
                <input type="email" name="email" id="" placeholder="Email Address">
            </p>
            <p>
                <input type="password" name="password" id="" placeholder="Password">
            </p>
            <p>
                <input type="submit" value="Log In">
            </p>
        </form>
    </div>
</body>
</html>