<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
    <title>Page Flipper - Sign Up</title>
</head>
<body>
    {{>header}}
    <div class="signup-form">
        <span class="signup-greeting">Sign up for Page Flipper</span>
        <form action="/signup" method="POST">
            <p>
                <input type="text" name="firstName" id="" placeholder="First Name">
                {{#if invalidFirstName}}
                    <br><span class="invalid-input">Name must be alphabetic!</span>
                {{/if}}
            </p>
            <p>
                <input type="text" name="lastName" id="" placeholder="Last Name">
                {{#if invalidLastName}}
                    <br><span class="invalid-input">Name must be alphabetic!</span>
                {{/if}}
            </p>
            <p>
                <input type="email" name="email" id="" placeholder="Email Address">
                {{#if invalidEmail}}
                    <br><span class="invalid-input">Invalid email address!</span>
                {{/if}}
            </p>
            <p>
                <input type="password" name="password" id="" placeholder="Desired Password">
                {{#if invalidPassword}}
                    <br><div class="invalid-input">
                        Password must have at least 8 characters
                    </div>
                {{/if}}
            </p>
            <p>
                <input type="submit" value="Sign Up">
            </p>
        </form>
    </div>
</body>
</html>