<header>
    <div class="title">
        <a href="/">Page Flipper</a>
    </div>
    {{#if isLoggedIn}}
        <div class="logout">
            <a href="/logout">
                <div class="logout-button">Logout</div>
            </a>
        </div>
    {{/if}}
</header>